@font-face {
    font-family: 'SF-ProText';
    src: url('../fonts/SF-Pro/SFProText-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'SF-ProText';
    src: url('../fonts/SF-Pro/SFProText-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'SF-ProText';
    src: url('../fonts/SF-Pro/SFProText-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'SF-ProText';
    src: url('../fonts/SF-Pro/SFProText-Semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.ttf');
    font-weight: 600;
}